@import "variables";

.container {
	margin-left: 0;
	margin-right: 0;
	max-width: 750px;
	padding: 60px 20px;
	background-color: rgba($secondary, .6);

	@media (min-width: $medium) {
		margin-left: auto;
		margin-right: auto;
		padding-left: 5%;
		padding-right: 5%;
		border-radius: 5px;
	}

	@media (min-width: $large) {
		padding-left: 5%;
		padding-right: 5%;
	}

}