.details {
	h2 {
		font-size: 20px;
		margin: 20px auto 40px;
		line-height: normal;
		letter-spacing: 5px;
		font-weight: bold;
		
		@media (min-width: $medium) {
			font-size: 30px;
			letter-spacing: 10px;
		}

		&.detail-sub {
			font-family: $font-family-cursive;
			font-size: 40px;
			color: $primary;
			font-weight: 100;
			margin: 40px auto 20px;
			letter-spacing: inherit;
			@media (min-width: $medium) {
				font-size: 50px;
			}
		}
	}

	p {
		&.date {
			font-family: $font-family-sans;
			font-size: 20px;
			padding: 0;
			line-height: 40px;
			margin: 20px;

			@media (min-width: $medium) {
				font-size: 28px;
			}
		}

		&.copy-button {
			font-family: $font-family-sans;
			font-size: 12px;
			line-height: 8px;
			margin-top: 0;
			padding: 0 0 60px;
			
			span {
				transition: color .333s;
			}

			span:hover {
				color: rgba($primary, .7);
				cursor: pointer;
			}

			@media (min-width: $medium) {
				font-size: 14px;
				line-height: 10px;
			}
		}

		&.registry-info {
			font-family: $font-family-sans;
			font-size: 16px;
			font-weight: 100;
			margin: 0 5% 18px 5%;
			padding: 0;
			line-height: inherit;

			@media (min-width: $medium) {
				font-size: 18px;
				margin-right: auto;
				margin-right: auto;
			}

			a {
				text-decoration: underline;
			}
		}

	}

	a {
		img {
			max-width: 140px;
			margin: 25px 10px;
			padding: 10px;
			border-radius: 2px;
			background: rgba(255,255,255,.7);
			box-shadow: 0px 1px 3px 0px rgba(0,0,0,.1), 0px 1px 8px 0px rgba(0, 0, 0, 0.05);
			transition: box-shadow .333s;
			@media (min-width: $medium) {
				max-width: 150px;
				margin: 40px 10px;
				&:hover {
					box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.12), 0px 3px 8px 3px rgba(0, 0, 0, 0.07);
				}
			}
			@media (min-width: $large) {
				max-width: 160px;
			}
		}
	}
		
}