.details {
	h2 {
		font-size: 18px;
		margin: 20px;
		line-height: normal;
		
		@media (min-width: $medium) {
			font-size: 27px;
		}

		&.detail-sub {
			font-family: $font-family-cursive;
			font-size: 36px;
			color: rgba($primary, .7);
			@media (min-width: $medium) {
				font-size: 50px;
			}
		}
	}

	p {
		&.date {
			font-family: $font-family-sans;
			font-size: 18px;
			padding: 0;
			line-height: 35px;
			margin: 20px;
			transition: .33s;

			@media (min-width: $medium) {
				font-size: 27px;
			}
		}

		&.copy-button {
			font-family: $font-family-sans;
			font-size: 8px;
			line-height: 8px;
			margin-top: 0;
			padding-top: 0;
			
			span {
				transition: color .333s;
			}

			span:hover {
				color: rgba($primary, .7);
				cursor: pointer;
			}

			@media (min-width: $medium) {
				font-size: 12px;
				line-height: 10px;
			}	
		}
	}
}