@import "variables";

.guestlist {
	.table-container {
		overflow: auto;
	}

	table {
		color: $primary;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
		font-family: $font-family-sans-serif;

		
		th {
			font-weight: 700;
			padding-top: 5px;
			padding-bottom: 5px;

			&.th-sm {
				min-width: 70px;
				@media (min-width: $medium) {
					min-width: 90px;
				}
			}
			&.th-lg {
				min-width: 100px;
				@media (min-width: $medium) {
					min-width: 150px;
				}
			}
		}

		td {
			font-weight: 300;
			overflow: hidden;
			max-width: 120px;
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}

	button {
	    background-color: rgba($secondary, 0);
	    font-family: $font-family-sans;
	    color: $primary;
	    padding: 15px 25px;
	    font-size: 16px;
	    font-weight: 300;
	    border: 1px solid $primary;
	    border-radius: 2px;
	    margin-top: 26px;
	    margin-bottom: 10px;
	    text-align: center;
	    transition-duration: 0.4s;
	    
	    &:focus {
	      outline: none;
	    }

	    &:hover {
	      background-color: $secondary;
	      background-color: rgba($secondary, 1);
	      cursor: pointer;
	    }

	    @media (min-width: $medium) {
	        font-size: 20px;
	        padding: 15px 25px;
	    }
  	}
}