@import "variables";

.header {
	a {
		cursor: pointer;
		.header-title {
			font-family: $font-family-cursive;
			text-align: center;
			margin-top: 65px;
			margin-bottom: 0;
			font-weight: 100;
			font-size: 58px;
			text-decoration: none;
			color: white;
			line-height: 79px;
			padding: 0;
			@media (min-width: $small) {
				margin-top: 100px;
				font-size: 96px;
				line-height: 115px;
				margin-left: 20px;
				margin-right: 20px;
			}
			@media (min-width: $medium) {
				margin-top: 10%;
				font-size: 130px;
				font-weight: 100;
				line-height: 150px;
			}
		}

		.header-desc {
			font-weight: 300;
			font-size: 18px;
			color: white;
			letter-spacing: 4px;
			padding-top: 0;
			margin: 15px 0 100px;
			line-height: normal;
			@media (min-width: $small) {
				font-size: 22px;
				letter-spacing: 10px;
			}
			@media (min-width: $medium) {
				font-size: 27px;
				padding-top: 10px;
				letter-spacing: 15px;
				font-weight: 300;
			}
		}
	}
	&:hover {
		text-decoration: none;
	}
}	