@import "variables";

.nav {
	padding: 0;
	display: block;
	text-align: center;
	margin: 30px 0 30px;
	.nav-item {
		display: inline-block;
		padding: 0 15px;
		@media (min-width: $medium) {
			padding: 0 40px;
		}
		a {
			cursor: pointer;
			color: $primary;
			letter-spacing: 2px;
			transition: .33s;
			font-weight: 300;
			font-size: 12px;
			text-decoration: none;
			text-transform: uppercase;

			@media (min-width: $medium) {
				font-size: 14px;
			}
			&:hover {
				color: rgba($primary, .6);
				text-decoration: none;
				background-color: transparent;
				font-weight: 300;
			}
		}
	}
}
