$secondary: #fff;
$primary: rgb(5, 5, 0);

$font-family-sans-serif: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-cursive: 'Herr Von Muellerhoff', cursive;
$font-family-sans: 'Cinzel', serif;
$font-default: $font-family-sans-serif;

$small: "425px";
$medium: "648px";
$large: "1100px";