.outer-wrapper {
	top: -55px;
	bottom: 0;
	left: 0;
	right: -290px;
	z-index: -1;
	position: fixed;
	background-image: url("/images/background-3.jpg");
	background-size: cover;
	background-position: center;
}