.outer-wrapper {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	position: fixed;
	background-image: url("/images/brick-background.jpg");
	background-size: cover;
	background-position: center;
}