$primary: #fff;
$secondary: #0e141a;

$font-family-sans-serif: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-cursive: 'Monsieur La Doulaise', cursive;
$font-family-sans: 'Cinzel', serif;
$font-default: $font-family-sans-serif;

$small: "425px";
$medium: "748px";
$large: "1100px";