---
description: "RSVP List"
title: "Mojo"
hidden: true
---

{namespace mojo}

/**
 * 
 */
{template .render}
	{call main.render data="all"}
		{param content kind="html"}
			{call .mojo /}
		{/param}
	{/call}
{/template}

/**
 * 
 */
{template .mojo}
	<div class="mojo">
		<div class="container container-fluid">
		</div>
	</div>
	<footer></footer>
	<script src="js/mojo.js"></script>
{/template}






